.peach-bg {
    background:peachpuff;
  }

  .grey-bg {
    background:#ccc;
  }

  .card {
    padding:0.3rem;
    border-bottom: 0.4rem solid #6E2C00;
    border-right: 0.4rem solid #6E2C00;
    border-radius: 1rem;
    text-align: center;
  }

  .btn {
    padding: 0.1rem;
    border-bottom: 0.4rem solid #6E2C00;
    border-right: 0.4rem solid #6E2C00;
    border-radius: 1rem;
    text-align: center;
    font-size: medium;
  }
.list-item {
  border-width: medium;
  border: solid #ccc;
  border-radius: 1rem;
  padding: 0.3rem;
  text-align: center;
  height: 3rem;
  margin-bottom: 0.3rem;
  /* Fix Button clickable zone was bigger than button */
  /* margin: 1rem 2rem; */
  background-color: tomato;
  color: white;    
  /*width: min-content*/
}

.list-item:hover {
  background-color: orangered;
}

.list-item span {
  margin: 1rem;
  text-align: center;
  height: -3rem;
  line-height: 1rem;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.animate-rotate {
  animation-name: rotation;
  animation-duration: 4s;
  animation-iteration-count: 0;
}

.animate-once {
  animation-iteration-count: 1;
}

.animate-infinite {
  animation-iteration-count: infinite;
}